@font-face {
  font-family: 'digital-7';
  src: url('digital-7-new.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'digital-7';
  font-size: 14px;
  background: #eee;
}

.container {
  margin: 20px auto;
  width: 270px;
  background: #FFF;
  padding: 15px;
  text-align: center;
}

#display {
  background: #39dfd1;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  margin-bottom: 15px;
  font-feature-settings: "tnum";
}

.btn {
  display: inline-block;
  background-color: #26a69b;/*背景色*/
  color: #FFF;/*文字色*/
  font-size: 1em;/*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;/*字間*/
  padding: 0.2em 1em;/*ボタン内の余白*/
  border-radius: 3px;/*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 1px 5px 0 rgba(0,0,0,0.12),
              0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
  -webkit-tap-highlight-color: transparent;
  transition: .1s ease-out;/*変化を緩やかに*/
}

.btn:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
              0 1px 7px 0 rgba(0,0,0,0.12),
              0 3px 1px -1px rgba(0,0,0,0.2);/*浮き上がるように*/
}

.controls {
  overflow: hidden;
}

.btn + .btn {
  margin-left: 15px;
}

.inactive {
  opacity: 0.5;
}